 .type {color: white;
  text-align: center;
   font-size:45px;
   font-weight:900;
   background-color:#191970;
   font-family:'montserrat',sans-serif;
   border-radius: 8px;
   text-transform:uppercase;
 }
 img {display:block;
      margin:0 auto;
      width:50%;
      height:auto;
      border-radius:0 80px 0 80px;
 }
 #behance {opacity:0.8;
 color:#4169e1;
 text-align: center;
 font-size: 35px;
 font-family:arial;
 margin:5px;
 display:block;
 }
 p {text-align:center;}
.top{ width:95%;
 background-color:#f0f8ff;
 border-radius:7px;
 margin: 20px auto;
 font-size:20px;
 }
 body{ background:linear-gradient(130deg, #b0e0e6 50%, #fffff0 50%);
   background-attachment:fixed;
   font-family:Montserrat,sans-serif;
   font-weight: 300px;
   font-size:30px;
 }
 button{transition: transform 0.1s ease, background-color 0.1s ease;
 display:inline-block;
 cursor:pointer;
-webkit-tap-highlight-color:transparent;}
.nigga{background-color:black;
    color:white;
    padding:10px;
    font-size:20px;
    border-radius:30px;
    font-family:montserrat;
}
.click_on{background-color:#008888;
 font-size:20px;
padding:10px; 
color:white;
border-radius:30px;
font-family:montserrat;
transition: transform 0.1s ease, background-color 0.1s ease;
}

.low{font-size:18px;
color:#40e0d0;
}
.okay{padding:3px; 
color:white;
background-color:#191970;
border-radius:5px;
font-size:18px;}

.do{padding:1px; 
color:white;
background-color:#191970;
border-radius:5px;
font-size:18px;}

button:active{transform:scale(0.95);
opacity:0.75;}
.arabic{font-size:27px;}
.notice{background-color:lightseagreen;
font-size:20px;
color:azure;
font-weight:bold;}